.main {
    width: 80%;
    max-width: 25rem;
    padding: 2rem 2rem;
    background-color: $dark-blue;
    border-radius: 1.5rem;

    &-rating {
        &__numbers {
            display: flex;
            justify-content: space-between;

            @include for-laptop-up {
                & > *:hover {
                    background-color: $light-grey;
                    color: $white;
                    cursor: pointer;
                }
            }


            &-selected {
                background-color: $accent-color;
                color: $white;
            }
        }

        &__button {
            padding: 1rem;
            width: 100%;
            border: none;
            background-color: $accent-color;
            color: $white;
            letter-spacing: 2px;
            border-radius: 1.5rem;
            font-weight: 700;
            cursor: pointer;
            
            &:hover {
                background-color: $white;
                color: $accent-color;
            }
            
        }
    }
    
    &-thanks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__rating {
            padding: 0.3rem 1rem;
            background-color: $medium-blue;
            border-radius: 1rem;
        }


        &__text {
            text-align: center;
        }
    }
}

.card-disable {
    display: none;
}

